version: "3.8"
services:
  web:
    build: .
    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/autolavado
      - DEBUG=1
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=autolavado
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mediatx:
    image: bluenviron/mediamtx:1
    environment:
      - MTX_RTSPTRANSPORTS=tcp
    ports:
      - "8554:8554" # RTSP
      - "8888:8888" # HLS
      - "8889:8889" # WebRTC (optional)
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
    restart: unless-stopped

volumes:
  postgres_data:
